web136/Service References/SLCourse/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/POCO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/POCO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="level" type="tns:CourseLevel" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:simpleType name="CourseLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lower" />
      <xs:enumeration value="upper" />
      <xs:enumeration value="grad" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CourseLevel" nillable="true" type="tns:CourseLevel" />
</xs:schema>