web136/Service References/SLCourse/SLCourse.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLCourse" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLCourse/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLCourse/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLCourse/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLCourse/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLCourse_GetCourseList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseList" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_GetCourseList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseListResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_InsertCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCourse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_InsertCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_UpdateCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCourse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_UpdateCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_DeleteCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_DeleteCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_GetCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_GetCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_InsertPrerequisite_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertPrerequisite" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_InsertPrerequisite_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertPrerequisiteResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_DeletePrerequisite_InputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrerequisite" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_DeletePrerequisite_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeletePrerequisiteResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_UpdatePrerequisite_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrerequisite" />
  </wsdl:message>
  <wsdl:message name="ISLCourse_UpdatePrerequisite_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePrerequisiteResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLCourse">
    <wsdl:operation name="GetCourseList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourse/GetCourseList" message="tns:ISLCourse_GetCourseList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourse/GetCourseListResponse" message="tns:ISLCourse_GetCourseList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourse/InsertCourse" message="tns:ISLCourse_InsertCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourse/InsertCourseResponse" message="tns:ISLCourse_InsertCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourse/UpdateCourse" message="tns:ISLCourse_UpdateCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourse/UpdateCourseResponse" message="tns:ISLCourse_UpdateCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourse/DeleteCourse" message="tns:ISLCourse_DeleteCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourse/DeleteCourseResponse" message="tns:ISLCourse_DeleteCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourse/GetCourse" message="tns:ISLCourse_GetCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourse/GetCourseResponse" message="tns:ISLCourse_GetCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertPrerequisite">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourse/InsertPrerequisite" message="tns:ISLCourse_InsertPrerequisite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourse/InsertPrerequisiteResponse" message="tns:ISLCourse_InsertPrerequisite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeletePrerequisite">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourse/DeletePrerequisite" message="tns:ISLCourse_DeletePrerequisite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourse/DeletePrerequisiteResponse" message="tns:ISLCourse_DeletePrerequisite_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePrerequisite">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourse/UpdatePrerequisite" message="tns:ISLCourse_UpdatePrerequisite_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourse/UpdatePrerequisiteResponse" message="tns:ISLCourse_UpdatePrerequisite_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLCourse" type="tns:ISLCourse">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCourseList">
      <soap:operation soapAction="http://tempuri.org/ISLCourse/GetCourseList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCourse">
      <soap:operation soapAction="http://tempuri.org/ISLCourse/InsertCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCourse">
      <soap:operation soapAction="http://tempuri.org/ISLCourse/UpdateCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourse">
      <soap:operation soapAction="http://tempuri.org/ISLCourse/DeleteCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourse">
      <soap:operation soapAction="http://tempuri.org/ISLCourse/GetCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertPrerequisite">
      <soap:operation soapAction="http://tempuri.org/ISLCourse/InsertPrerequisite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePrerequisite">
      <soap:operation soapAction="http://tempuri.org/ISLCourse/DeletePrerequisite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdatePrerequisite">
      <soap:operation soapAction="http://tempuri.org/ISLCourse/UpdatePrerequisite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLCourse">
    <wsdl:port name="BasicHttpBinding_ISLCourse" binding="tns:BasicHttpBinding_ISLCourse">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SL136/SLCourse/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>