web136/Service References/SLStaff/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLStaff" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLStaff_GetStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaff" />
  </wsdl:message>
  <wsdl:message name="ISLStaff_GetStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffResponse" />
  </wsdl:message>
  <wsdl:message name="ISLStaff_InsertStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStaff" />
  </wsdl:message>
  <wsdl:message name="ISLStaff_InsertStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStaffResponse" />
  </wsdl:message>
  <wsdl:message name="ISLStaff_UpdateStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStaff" />
  </wsdl:message>
  <wsdl:message name="ISLStaff_UpdateStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStaffResponse" />
  </wsdl:message>
  <wsdl:message name="ISLStaff_DeleteStaff_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaff" />
  </wsdl:message>
  <wsdl:message name="ISLStaff_DeleteStaff_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStaffResponse" />
  </wsdl:message>
  <wsdl:message name="ISLStaff_GetStaffList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffList" />
  </wsdl:message>
  <wsdl:message name="ISLStaff_GetStaffList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStaffListResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLStaff">
    <wsdl:operation name="GetStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStaff/GetStaff" message="tns:ISLStaff_GetStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStaff/GetStaffResponse" message="tns:ISLStaff_GetStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStaff/InsertStaff" message="tns:ISLStaff_InsertStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStaff/InsertStaffResponse" message="tns:ISLStaff_InsertStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStaff/UpdateStaff" message="tns:ISLStaff_UpdateStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStaff/UpdateStaffResponse" message="tns:ISLStaff_UpdateStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStaff">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStaff/DeleteStaff" message="tns:ISLStaff_DeleteStaff_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStaff/DeleteStaffResponse" message="tns:ISLStaff_DeleteStaff_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStaffList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStaff/GetStaffList" message="tns:ISLStaff_GetStaffList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStaff/GetStaffListResponse" message="tns:ISLStaff_GetStaffList_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLStaff" type="tns:ISLStaff">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStaff">
      <soap:operation soapAction="http://tempuri.org/ISLStaff/GetStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStaff">
      <soap:operation soapAction="http://tempuri.org/ISLStaff/InsertStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStaff">
      <soap:operation soapAction="http://tempuri.org/ISLStaff/UpdateStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStaff">
      <soap:operation soapAction="http://tempuri.org/ISLStaff/DeleteStaff" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStaffList">
      <soap:operation soapAction="http://tempuri.org/ISLStaff/GetStaffList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLStaff">
    <wsdl:port name="BasicHttpBinding_ISLStaff" binding="tns:BasicHttpBinding_ISLStaff">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SL136/SLStaff/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>