web136/Service References/SLDepartment/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLDepartment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLDepartment_GetDepartmentDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentDetail" />
  </wsdl:message>
  <wsdl:message name="ISLDepartment_GetDepartmentDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentDetailResponse" />
  </wsdl:message>
  <wsdl:message name="ISLDepartment_InsertDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertDepartment" />
  </wsdl:message>
  <wsdl:message name="ISLDepartment_InsertDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ISLDepartment_DeleteDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartment" />
  </wsdl:message>
  <wsdl:message name="ISLDepartment_DeleteDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="ISLDepartment_UpdateDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartment" />
  </wsdl:message>
  <wsdl:message name="ISLDepartment_UpdateDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateDepartmentResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLDepartment">
    <wsdl:operation name="GetDepartmentDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLDepartment/GetDepartmentDetail" message="tns:ISLDepartment_GetDepartmentDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLDepartment/GetDepartmentDetailResponse" message="tns:ISLDepartment_GetDepartmentDetail_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLDepartment/InsertDepartment" message="tns:ISLDepartment_InsertDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLDepartment/InsertDepartmentResponse" message="tns:ISLDepartment_InsertDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLDepartment/DeleteDepartment" message="tns:ISLDepartment_DeleteDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLDepartment/DeleteDepartmentResponse" message="tns:ISLDepartment_DeleteDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLDepartment/UpdateDepartment" message="tns:ISLDepartment_UpdateDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLDepartment/UpdateDepartmentResponse" message="tns:ISLDepartment_UpdateDepartment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLDepartment" type="tns:ISLDepartment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartmentDetail">
      <soap:operation soapAction="http://tempuri.org/ISLDepartment/GetDepartmentDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertDepartment">
      <soap:operation soapAction="http://tempuri.org/ISLDepartment/InsertDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteDepartment">
      <soap:operation soapAction="http://tempuri.org/ISLDepartment/DeleteDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateDepartment">
      <soap:operation soapAction="http://tempuri.org/ISLDepartment/UpdateDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLDepartment">
    <wsdl:port name="BasicHttpBinding_ISLDepartment" binding="tns:BasicHttpBinding_ISLDepartment">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SL136/SLDepartment/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>