web136/Service References/SLEnrollment/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLEnrollment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLEnrollment_GetEnrollmentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrollmentList" />
  </wsdl:message>
  <wsdl:message name="ISLEnrollment_GetEnrollmentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEnrollmentListResponse" />
  </wsdl:message>
  <wsdl:message name="ISLEnrollment_InsertEnrollment_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertEnrollment" />
  </wsdl:message>
  <wsdl:message name="ISLEnrollment_InsertEnrollment_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertEnrollmentResponse" />
  </wsdl:message>
  <wsdl:message name="ISLEnrollment_DeleteEnrollment_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEnrollment" />
  </wsdl:message>
  <wsdl:message name="ISLEnrollment_DeleteEnrollment_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteEnrollmentResponse" />
  </wsdl:message>
  <wsdl:message name="ISLEnrollment_UpdateEnrollment_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEnrollment" />
  </wsdl:message>
  <wsdl:message name="ISLEnrollment_UpdateEnrollment_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateEnrollmentResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLEnrollment">
    <wsdl:operation name="GetEnrollmentList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLEnrollment/GetEnrollmentList" message="tns:ISLEnrollment_GetEnrollmentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLEnrollment/GetEnrollmentListResponse" message="tns:ISLEnrollment_GetEnrollmentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertEnrollment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLEnrollment/InsertEnrollment" message="tns:ISLEnrollment_InsertEnrollment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLEnrollment/InsertEnrollmentResponse" message="tns:ISLEnrollment_InsertEnrollment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteEnrollment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLEnrollment/DeleteEnrollment" message="tns:ISLEnrollment_DeleteEnrollment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLEnrollment/DeleteEnrollmentResponse" message="tns:ISLEnrollment_DeleteEnrollment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateEnrollment">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLEnrollment/UpdateEnrollment" message="tns:ISLEnrollment_UpdateEnrollment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLEnrollment/UpdateEnrollmentResponse" message="tns:ISLEnrollment_UpdateEnrollment_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLEnrollment" type="tns:ISLEnrollment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEnrollmentList">
      <soap:operation soapAction="http://tempuri.org/ISLEnrollment/GetEnrollmentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertEnrollment">
      <soap:operation soapAction="http://tempuri.org/ISLEnrollment/InsertEnrollment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteEnrollment">
      <soap:operation soapAction="http://tempuri.org/ISLEnrollment/DeleteEnrollment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateEnrollment">
      <soap:operation soapAction="http://tempuri.org/ISLEnrollment/UpdateEnrollment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLEnrollment">
    <wsdl:port name="BasicHttpBinding_ISLEnrollment" binding="tns:BasicHttpBinding_ISLEnrollment">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SL136/SLEnrollment/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>