web136/Service References/SLMajor/POCO.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/POCO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/POCO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Major">
    <xs:sequence>
      <xs:element minOccurs="0" name="deptId" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="majorName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Major" nillable="true" type="tns:Major" />
  <xs:complexType name="ArrayOfMajor">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Major" nillable="true" type="tns:Major" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMajor" nillable="true" type="tns:ArrayOfMajor" />
</xs:schema>