web136/Service References/SLSchedule/SLSchedule.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLSchedule" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLSchedule/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLSchedule/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLSchedule/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLSchedule/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLCourseSchedule_GetScheduleList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleList" />
  </wsdl:message>
  <wsdl:message name="ISLCourseSchedule_GetScheduleList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleListResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourseSchedule_InsertCourseSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertCourseSchedule" />
  </wsdl:message>
  <wsdl:message name="ISLCourseSchedule_InsertCourseSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertCourseScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourseSchedule_UpdateCourseSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCourseSchedule" />
  </wsdl:message>
  <wsdl:message name="ISLCourseSchedule_UpdateCourseSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateCourseScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourseSchedule_DeleteCourseSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourseSchedule" />
  </wsdl:message>
  <wsdl:message name="ISLCourseSchedule_DeleteCourseSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCourseScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISLCourseSchedule_GetCourseScheduleDetail_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseScheduleDetail" />
  </wsdl:message>
  <wsdl:message name="ISLCourseSchedule_GetCourseScheduleDetail_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCourseScheduleDetailResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLCourseSchedule">
    <wsdl:operation name="GetScheduleList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourseSchedule/GetScheduleList" message="tns:ISLCourseSchedule_GetScheduleList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourseSchedule/GetScheduleListResponse" message="tns:ISLCourseSchedule_GetScheduleList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertCourseSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourseSchedule/InsertCourseSchedule" message="tns:ISLCourseSchedule_InsertCourseSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourseSchedule/InsertCourseScheduleResponse" message="tns:ISLCourseSchedule_InsertCourseSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateCourseSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourseSchedule/UpdateCourseSchedule" message="tns:ISLCourseSchedule_UpdateCourseSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourseSchedule/UpdateCourseScheduleResponse" message="tns:ISLCourseSchedule_UpdateCourseSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCourseSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourseSchedule/DeleteCourseSchedule" message="tns:ISLCourseSchedule_DeleteCourseSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourseSchedule/DeleteCourseScheduleResponse" message="tns:ISLCourseSchedule_DeleteCourseSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourseScheduleDetail">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLCourseSchedule/GetCourseScheduleDetail" message="tns:ISLCourseSchedule_GetCourseScheduleDetail_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLCourseSchedule/GetCourseScheduleDetailResponse" message="tns:ISLCourseSchedule_GetCourseScheduleDetail_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLCourseSchedule" type="tns:ISLCourseSchedule">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScheduleList">
      <soap:operation soapAction="http://tempuri.org/ISLCourseSchedule/GetScheduleList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertCourseSchedule">
      <soap:operation soapAction="http://tempuri.org/ISLCourseSchedule/InsertCourseSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateCourseSchedule">
      <soap:operation soapAction="http://tempuri.org/ISLCourseSchedule/UpdateCourseSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCourseSchedule">
      <soap:operation soapAction="http://tempuri.org/ISLCourseSchedule/DeleteCourseSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourseScheduleDetail">
      <soap:operation soapAction="http://tempuri.org/ISLCourseSchedule/GetCourseScheduleDetail" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLSchedule">
    <wsdl:port name="BasicHttpBinding_ISLCourseSchedule" binding="tns:BasicHttpBinding_ISLCourseSchedule">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SL136/SLSchedule/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>