web136/Service References/SLScheduleDay/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLScheduleDay" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLScheduleDay_GetScheduleDayList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleDayList" />
  </wsdl:message>
  <wsdl:message name="ISLScheduleDay_GetScheduleDayList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleDayListResponse" />
  </wsdl:message>
  <wsdl:message name="ISLScheduleDay_InsertScheduleDay_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleDay" />
  </wsdl:message>
  <wsdl:message name="ISLScheduleDay_InsertScheduleDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleDayResponse" />
  </wsdl:message>
  <wsdl:message name="ISLScheduleDay_DeleteScheduleDay_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleDay" />
  </wsdl:message>
  <wsdl:message name="ISLScheduleDay_DeleteScheduleDay_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleDayResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLScheduleDay">
    <wsdl:operation name="GetScheduleDayList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLScheduleDay/GetScheduleDayList" message="tns:ISLScheduleDay_GetScheduleDayList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLScheduleDay/GetScheduleDayListResponse" message="tns:ISLScheduleDay_GetScheduleDayList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertScheduleDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLScheduleDay/InsertScheduleDay" message="tns:ISLScheduleDay_InsertScheduleDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLScheduleDay/InsertScheduleDayResponse" message="tns:ISLScheduleDay_InsertScheduleDay_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteScheduleDay">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLScheduleDay/DeleteScheduleDay" message="tns:ISLScheduleDay_DeleteScheduleDay_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLScheduleDay/DeleteScheduleDayResponse" message="tns:ISLScheduleDay_DeleteScheduleDay_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLScheduleDay" type="tns:ISLScheduleDay">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScheduleDayList">
      <soap:operation soapAction="http://tempuri.org/ISLScheduleDay/GetScheduleDayList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScheduleDay">
      <soap:operation soapAction="http://tempuri.org/ISLScheduleDay/InsertScheduleDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteScheduleDay">
      <soap:operation soapAction="http://tempuri.org/ISLScheduleDay/DeleteScheduleDay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLScheduleDay">
    <wsdl:port name="BasicHttpBinding_ISLScheduleDay" binding="tns:BasicHttpBinding_ISLScheduleDay">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SL136/SLScheduleDay/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>