web136/Service References/SLStudent/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/POCO" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/POCO" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Student">
    <xs:sequence>
      <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="enrolled" nillable="true" type="tns:ArrayOfScheduledCourse" />
      <xs:element minOccurs="0" name="first_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="last_name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="level" type="tns:StudentLevel" />
      <xs:element minOccurs="0" name="major" type="xs:int" />
      <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="shoe_size" type="xs:float" />
      <xs:element minOccurs="0" name="ssn" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="xs:int" />
      <xs:element minOccurs="0" name="weight" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Student" nillable="true" type="tns:Student" />
  <xs:complexType name="ArrayOfScheduledCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScheduledCourse" nillable="true" type="tns:ScheduledCourse" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScheduledCourse" nillable="true" type="tns:ArrayOfScheduledCourse" />
  <xs:complexType name="ScheduledCourse">
    <xs:sequence>
      <xs:element minOccurs="0" name="course" nillable="true" type="tns:Course" />
      <xs:element minOccurs="0" name="day" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="dayID" type="xs:int" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="instr_id" type="xs:int" />
      <xs:element minOccurs="0" name="instructor_fName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="instructor_lName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="quarter" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="session" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="time" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="timeID" type="xs:int" />
      <xs:element minOccurs="0" name="year" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScheduledCourse" nillable="true" type="tns:ScheduledCourse" />
  <xs:complexType name="Course">
    <xs:sequence>
      <xs:element minOccurs="0" name="description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="level" type="tns:CourseLevel" />
      <xs:element minOccurs="0" name="prerequisite_list" nillable="true" type="tns:ArrayOfCourse" />
      <xs:element minOccurs="0" name="title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="units" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Course" nillable="true" type="tns:Course" />
  <xs:simpleType name="CourseLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="lower" />
      <xs:enumeration value="upper" />
      <xs:enumeration value="grad" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="CourseLevel" nillable="true" type="tns:CourseLevel" />
  <xs:complexType name="ArrayOfCourse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Course" nillable="true" type="tns:Course" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCourse" nillable="true" type="tns:ArrayOfCourse" />
  <xs:simpleType name="StudentLevel">
    <xs:restriction base="xs:string">
      <xs:enumeration value="freshman" />
      <xs:enumeration value="sophomore" />
      <xs:enumeration value="junior" />
      <xs:enumeration value="senior" />
      <xs:enumeration value="grad" />
      <xs:enumeration value="phd" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="StudentLevel" nillable="true" type="tns:StudentLevel" />
  <xs:complexType name="ArrayOfStudent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Student" nillable="true" type="tns:Student" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfStudent" nillable="true" type="tns:ArrayOfStudent" />
</xs:schema>