web136/Service References/SLStudent/SLStudent.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLStudent" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLStudent/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLStudent/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLStudent/?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:8733/Design_Time_Addresses/SL136/SLStudent/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/POCO" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLStudent_GetStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudent" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_GetStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_InsertStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudent" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_InsertStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_UpdateStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudent" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_UpdateStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_DeleteStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudent" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_DeleteStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteStudentResponse" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_GetStudentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentList" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_GetStudentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentListResponse" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_EnrollSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:EnrollSchedule" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_EnrollSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnrollScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_DropEnrolledSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:DropEnrolledSchedule" />
  </wsdl:message>
  <wsdl:message name="ISLStudent_DropEnrolledSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:DropEnrolledScheduleResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLStudent">
    <wsdl:operation name="GetStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStudent/GetStudent" message="tns:ISLStudent_GetStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStudent/GetStudentResponse" message="tns:ISLStudent_GetStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStudent/InsertStudent" message="tns:ISLStudent_InsertStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStudent/InsertStudentResponse" message="tns:ISLStudent_InsertStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStudent/UpdateStudent" message="tns:ISLStudent_UpdateStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStudent/UpdateStudentResponse" message="tns:ISLStudent_UpdateStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStudent/DeleteStudent" message="tns:ISLStudent_DeleteStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStudent/DeleteStudentResponse" message="tns:ISLStudent_DeleteStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetStudentList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStudent/GetStudentList" message="tns:ISLStudent_GetStudentList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStudent/GetStudentListResponse" message="tns:ISLStudent_GetStudentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnrollSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStudent/EnrollSchedule" message="tns:ISLStudent_EnrollSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStudent/EnrollScheduleResponse" message="tns:ISLStudent_EnrollSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DropEnrolledSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLStudent/DropEnrolledSchedule" message="tns:ISLStudent_DropEnrolledSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLStudent/DropEnrolledScheduleResponse" message="tns:ISLStudent_DropEnrolledSchedule_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLStudent" type="tns:ISLStudent">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudent">
      <soap:operation soapAction="http://tempuri.org/ISLStudent/GetStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertStudent">
      <soap:operation soapAction="http://tempuri.org/ISLStudent/InsertStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStudent">
      <soap:operation soapAction="http://tempuri.org/ISLStudent/UpdateStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStudent">
      <soap:operation soapAction="http://tempuri.org/ISLStudent/DeleteStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStudentList">
      <soap:operation soapAction="http://tempuri.org/ISLStudent/GetStudentList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnrollSchedule">
      <soap:operation soapAction="http://tempuri.org/ISLStudent/EnrollSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DropEnrolledSchedule">
      <soap:operation soapAction="http://tempuri.org/ISLStudent/DropEnrolledSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLStudent">
    <wsdl:port name="BasicHttpBinding_ISLStudent" binding="tns:BasicHttpBinding_ISLStudent">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SL136/SLStudent/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>