web136/Service References/SLScheduleTime/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SLScheduleTime" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISLScheduleTime_GetScheduleTimeList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleTimeList" />
  </wsdl:message>
  <wsdl:message name="ISLScheduleTime_GetScheduleTimeList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetScheduleTimeListResponse" />
  </wsdl:message>
  <wsdl:message name="ISLScheduleTime_InsertScheduleTime_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleTime" />
  </wsdl:message>
  <wsdl:message name="ISLScheduleTime_InsertScheduleTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertScheduleTimeResponse" />
  </wsdl:message>
  <wsdl:message name="ISLScheduleTime_DeleteScheduleTime_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleTime" />
  </wsdl:message>
  <wsdl:message name="ISLScheduleTime_DeleteScheduleTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteScheduleTimeResponse" />
  </wsdl:message>
  <wsdl:portType name="ISLScheduleTime">
    <wsdl:operation name="GetScheduleTimeList">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLScheduleTime/GetScheduleTimeList" message="tns:ISLScheduleTime_GetScheduleTimeList_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLScheduleTime/GetScheduleTimeListResponse" message="tns:ISLScheduleTime_GetScheduleTimeList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertScheduleTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLScheduleTime/InsertScheduleTime" message="tns:ISLScheduleTime_InsertScheduleTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLScheduleTime/InsertScheduleTimeResponse" message="tns:ISLScheduleTime_InsertScheduleTime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteScheduleTime">
      <wsdl:input wsaw:Action="http://tempuri.org/ISLScheduleTime/DeleteScheduleTime" message="tns:ISLScheduleTime_DeleteScheduleTime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISLScheduleTime/DeleteScheduleTimeResponse" message="tns:ISLScheduleTime_DeleteScheduleTime_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISLScheduleTime" type="tns:ISLScheduleTime">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetScheduleTimeList">
      <soap:operation soapAction="http://tempuri.org/ISLScheduleTime/GetScheduleTimeList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertScheduleTime">
      <soap:operation soapAction="http://tempuri.org/ISLScheduleTime/InsertScheduleTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteScheduleTime">
      <soap:operation soapAction="http://tempuri.org/ISLScheduleTime/DeleteScheduleTime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SLScheduleTime">
    <wsdl:port name="BasicHttpBinding_ISLScheduleTime" binding="tns:BasicHttpBinding_ISLScheduleTime">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/SL136/SLScheduleTime/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>